body{color:#222;}
*{margin:0; padding:0;}
body,button,input,select,textarea {font-size:62.5%; line-height:1.5;}
ol,ul{list-style:none;}
body{background-image:url(home.jpg);background-size:100% 100%;}
html,body{ width:100%; height:100%; overflow:hidden;}
.section-wrap{  width:100%;height:100%;overflow:visible;transition:transform 1s cubic-bezier(0.86,0,0.03,1);-webkit-transition:-webkit-transform 1s cubic-bezier(0.86,0,0.03,1);}
.section-wrap .section{ position:relative; width:100%; height:100%; background-position:center center; background-repeat:no-repeat;}
.section-wrap .section .text{width:100%;position:absolute;top:32%;color:#fff;font-size:2.4em;text-align:center;}
.section-wrap .section .text>p{ opacity:0;}
.section-wrap .section .text.active .title{ opacity:1;transform:translateY(-25px);-webkit-transform:translateY(-25px);transition:all 2s cubic-bezier(0.86,0,0.8,1);-webkit-transition:all 2s cubic-bezier(0.86,0,0.8,1);}
#tit1,#tit2{font-size: 60px;opacity: 0;transition:opacity 1s;}
#tit2{position: absolute;top:0;left:50%;margin-left: -190px;}

.bgimg{height: 100%;width: 100%;opacity: 0;position: relative;z-index: 1;}
.put-section-0{ transform:translateY(0);-webkit-transform:translateY(0);}
.put-section-1{ transform:translateY(-100%);-webkit-transform:translateY(-100%);}
.put-section-2{ transform:translateY(-200%);-webkit-transform:translateY(-200%);}
.put-section-3{ transform:translateY(-300%);-webkit-transform:translateY(-300%);}
.put-section-4{ transform:translateY(-400%);-webkit-transform:translateY(-400%);}





#side{height: 100%;width: 200px;position: absolute;right: -200px;transition:right 1s;opacity: 0.7;background-color: black;z-index: 3;}
nav a{display: block;}
.one{width: 120px;height: 80px;margin: 30px auto 10px; background-image: url(left.png);background-size:100% 100%;}
.side{width: 150px;height: 60px;border-top:2px solid rgb(48,48,48); font-size: 30px;color: #fff;text-decoration: none;margin:0 auto;text-align: center;line-height: 60px;}
#erweima{position: absolute;width: 150px;height: 150px;bottom: 120px;left:25px;}
#hum{background-image: url(hum.png);background-size:100% 100%;height: 42px;width: 55px; position: absolute;right: 50px;top:50px;z-index: 2;}
#logo{background-image: url(left.png);background-size:100% 100%;height: 100px;width: 150px; position: absolute;left: 30px;top:30px;}
#side a.on{color: red;}
#down{position:absolute;bottom:380px;left:50%;margin-left:-30px;width:40px;height:54px;line-height:60px;text-align:center;cursor:pointer;z-index: 2;}
.blink{transition:opacity 1s;position: absolute;}
#bl3{width: 40px;height: 22px;top:0px;left:0;opacity:0;}
#bl2{width: 28px;height: 16px;top: 23px;left:6px;opacity:0;}
#bl1{width: 20px;height: 11px;top:42px;left: 10px;opacity:0;}


#fenzu{position: absolute;left: 24%;top:30%;z-index: 2;}
#fenzu a{margin-bottom: 25px;transition:border 0.6s; }


.cp{display: block; width: 33.33%;height: 50%;float: left;text-decoration: none;}
.cp img{width: 80%;height: 70%;}
.cp>p{width: 80%;height: 20%;margin: 0 auto; font-size: 30px;color: #fff;border-bottom: 2px solid rgb(48,48,48);}
#allcp{width: 66%;height: 60%;position: absolute;top: 20%;left: 17%;z-index: 2;}